/* Poppins */
//noinspection CssUnknownTarget
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Bebas Neue */
//noinspection CssUnknownTarget
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Amatic SC */
//noinspection CssUnknownTarget
@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
