//Color system
$primary: #ffa600;
$info: #7d6b57;

// Typography
$font-family-sans-serif:
  'Poppins',
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  'Noto Sans',
  'Liberation Sans',
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';

$font-family-monospace: 'Roboto Mono', SFMono-Regular, Menlo,
Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$font-family-headings: 'Bebas Neue', sans-serif;

$font-family-special: 'Amatic SC', cursive;


// Cards
$card-height: 100%;
$card-spacer-y: 0.9rem;
$card-spacer-x: 0.9rem;
$card-border-radius: 0;

// Accordions
$accordion-icon-width: 1rem;
