<nav class="navbar navbar-expand-lg dx-bg-navbar py-1">
  <div class="container-fluid ps-0">
    <!-- Sidebar toggle -->
    <div class="d-flex flex-row dx-w-navbar fw-bold">
        {% if show_sidebar %}
            <button id="sidebar-toggle-btn"
              type="button"
              class="btn border-0 text-white"
              data-bs-toggle="collapse"
              data-bs-target="#sidebar"
              aria-expanded="true"
              aria-controls="sidebar">
        <i class="bi bi-list"></i>
      </button>
        {% endif %}
      <!-- Branding -->
{#      <a class="navbar-brand ms-2 {% if DEBUG %}text-danger{% else %}text-white{% endif %}" href="{% url 'core:index' %}">#}
      <a class="navbar-brand ms-2 {% if DEBUG %}text-danger{% else %}text-white{% endif %}">
        Pollo Fito Menú
      </a>
    </div>
    <!-- User dropdown -->
    <div class="dropdown me-2">
      <button class="btn text-white btn-sm dropdown-toggle py-1 border-0"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">opciones</button>
      <ul class="dropdown-menu dropdown-menu-end">
          {% if show_sidebar %}
              <li>{% csrf_token %}
                <button class="dropdown-item">Cerrar sesión</button>
              </li>
          {% else %}
            <li><a class="dropdown-item" href="{% url 'admin_panel:lista_ordenes' %}">Órdenes</a></li>
            <li><a class="dropdown-item" href="{% url 'admin_panel:lista_productos' %}">Administración</a></li>
            <li><a class="dropdown-item" href="{% url 'kitchen:kitchen_panel' %}">Cocina</a></li>
              <li>
                {% if numero_mesa %}
                  <a class="dropdown-item" href="{% url 'menu:ver_carrito' numero_mesa=numero_mesa %}">Ver Carrito</a>
                {% else %}
                  <span class="dropdown-item text-muted">Selecciona una mesa</span>
                {% endif %}
              </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
