{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Fito {% if page_title %} | {{ page_title }} {% endif %}</title>
    <link type="image/x-icon" rel="icon" href="{% static 'favicon.ico' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'js/htmx/htmx.min.js' %}" defer></script>
  </head>
  <body class="d-flex flex-column min-vh-100">
      {% include 'common/_navbar.html' %}

      <div class="container-fluid flex-grow-1">
        <div class="row">
          <div class="col-md-auto px-0 border-end">
            {% if show_sidebar %}
                {% include 'common/_sidebar.html' %}
            {% endif %}
          </div>
          <main class="col px-3 py-3 py-md-2">
            <h5 class="fw-bold mt-2 mb-4 text-primary-emphasis">{{ page_title }}</h5>
            {% block content %}{% endblock %}
          </main>
        </div>
      </div>

      {% include 'common/messages/_messages.html' %}
      <script src="{% static 'js/base.min.js' %}" defer></script>
      {% block scripts %}{% endblock %}

      <!-- Footer sticky al fondo -->
      {% if show_footer %}
        <footer class="bg-dark text-white py-4 mt-auto">
          <div class="container">
            <div class="row">
              <div class="col-md-4 mb-3">
                <h5 class="text-uppercase">{{ info_restaurante.nombre|default:"Pollo Fito" }}</h5>
                <p class="small">{{ info_restaurante.eslogan|default:"Sabor tradicional, servicio moderno." }}</p>
                <p class="small">Santa Ana, El Salvador</p>
              </div>
              <div class="col-md-4 mb-3">
                <h6 class="text-uppercase">Enlaces</h6>
                <ul class="list-unstyled small">
                  <li><a href="{% url 'menu:menu_lista' %}" class="text-white text-decoration-none">Menú</a></li>
                  <li><a href="{% url 'menu:ubicacion' %}" class="text-white text-decoration-none">Ubicación</a></li>
                  <li><a href="{% url 'menu:conocenos' %}" class="text-white text-decoration-none">Conócenos</a></li>
                </ul>
              </div>
              <div class="col-md-4 mb-3">
                <h6 class="text-uppercase">Síguenos</h6>
                <a href="https://www.facebook.com/pollofito.sv/" target="_blank" class="text-white me-2"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/pollo_fitosv/?hl=es" target="_blank" class="text-white me-2"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="text-center mt-3 small">
              &copy; {{ now|date:"Y" }} {{ info_restaurante.nombre|default:"Pollo Fito" }}. Todos los derechos reservados.
            </div>
          </div>
        </footer>
      {% endif %}
    </body>
</html>
