{% extends "base.html" %}

{% block title %}Ubicación{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center my-4">¿Dónde estamos ubicados?</h2>
  <div class="ratio ratio-16x9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3870.8901903029305!2d-89.5343842720557!3d14.024522826392454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f62e501d6f30029%3A0x3e2a519d488a5a70!2sPollo%20Fito!5e0!3m2!1ses-419!2ssv!4v1744321906527!5m2!1ses-419!2ssv" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
{% endblock %}
